html {
  color: #2f1300;
  font-face: sans-serif;
  font-size: 12pt;
}
body {
  background-color: #fffdf9;
}
fieldset {
  margin-top: 20px;
}
figcaption.figure-caption {
  color: #4c4c4c;
}
.align-to-label {
  margin-left: 54px;
}
.plot-wrapper {
  margin-bottom: 10px;
}
.plot {
  height: 400px;
  width: 100%;
}
#tooltip {
  position: absolute;
  display: none;
  border: 1px solid #ff6600;
  border-radius: 4px;
  padding: 2px 6px;
  background-color: #fffdf9;
  box-shadow: 4px 4px 10px #4c4c4c;
  opacity: 0.9;
}
#tooltip .date {
  display: block;
  font-size: 8pt;
}
#tooltip .value {
  display: block;
}
.xmraddr {
  font-size: 8pt;
  font-family: monospace;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: #0062a3;
}
.logo .xmr {
  color: #ff6600;
}
.logo .lab {
  color: #4c4c4c;
}
img.qr {
  width: 200px;
  height: 200px;
}
img.qr.small {
  width: 120px;
  height: 120px;
}
#footer {
  margin-top: 60px;
  padding-bottom: 30px;
}
#footer img {
  margin-right: 20px;
  margin-bottom: 20px;
}
.w100 {
  width: 100%;
}
.pt10 {
  padding-top: 10px;
}
